---
name: Plugin Tests

on:
  push:
    branches: 
      - main
      - afoley/as-1312-fiftyone-labs-ci
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      FIFTYONE_DO_NOT_TRACK: true
      FIFTYONE_DATABASE_ADMIN: true
      FIFTYONE_DATABASE_URI: mongodb://127.0.0.1:27017
      FIFTYONE_PRIVATE_DATABASE_PORT: 27017
      # Assuming no pytest should take more than 120 seconds
      PYTEST_TIMEOUT: 120

    steps:
      - name: Checkout `voxel51/fiftyone-labs`
        uses: actions/checkout@v6
      
      # Implementation question for ML: 
      # which enterprise version or branch do you want to use?
      - name: Checkout `voxel51/fiftyone`
        uses: actions/checkout@v6
        with:
          path: fiftyone
          repository: voxel51/fiftyone-teams
          token: ${{ secrets.RO_FOT_FG_PAT }}
          sparse-checkout: |
            /*
            !/docs/**
          sparse-checkout-cone-mode: false
      
      # Implementation question for Aloha: 
      # Which mongodb/python versions should we test?
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: "8"

      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # Not caching here for transient dependencies
      - name: Setup (UV)
        uses: astral-sh/setup-uv@v7
        with:
          python-version: '3.10'

      - name: Install requirements (UV)
        run: |
          uv pip install --system -U \
            wheel \
            setuptools \
            ./fiftyone \
            -r plugins/requirements/github.txt \
            -r plugins/requirements/text.txt

      - name: Run non-intensive tests
        working-directory: plugins
        run: |
          export FIFTYONE_PLUGINS_DIR="${PWD}"
          export PYTHONPATH="${PWD}:${{ github.workspace }}/fiftyone:${PYTHONPATH}"

          python -m pytest \
            ./ \
            --ignore-glob=tests/intensive \
            --verboose --tb=short \
            --cov=. \
            --cov-report=xml \
            --cov-report=term
